.main {
  display: flex;
  flex-direction: column;
  /* justify-content: ; */
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.post {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid black;
  margin-bottom: 1rem;
}

/* styles.module.css */
.container {
  max-width: 400px;
  margin: auto;
}

.group {
  margin-bottom: 20px;
}

.label {
  display: block;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}
/* form button */
.button ,.updatebutton {
  background-color: var(--primary-color);  
}

.deletebutton {
  background-color: var(--primary-red);
}

